.main-header {
  height: 100vh;

  background-image: url(/assets/img/washington-monument.jpg);
  background-position: center center;
  background-size: cover;
}

.header-text {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  color: white;
  text-align: center;
}

.header-title {
  margin-top: 0;

  font-size: 5em;
}

.header-subtitle {
  font-size: 3.4em;
}

.container {
  max-width: 60em;
}

.section-title {
  margin-top: 0;
  padding-bottom: 50px;

  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.section-content {
  font-size: 1.4em;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 480px) {
  .header-title {
    font-size: 2em;
  }

  .header-subtitle {
    font-size: 1em;
  }
}

.navbar {
  margin-bottom: 0;
  border: none;

  background-color: transparent;
}

.navbar a {
  color: white !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

footer {
  padding: 2em;

  text-align: center;
  font-size: 1.2em;
}

footer .fa-heart {
  color: #f77380;
}


/* search box stuff */
form {
  width: 500px;
  margin: 50px auto;
}

.search-container {
  padding-top: 2em;
  text-align: center;
  font-size: 1em;
}

input.search-box {
  padding: 8px 15px;
  background: rgba(50, 50, 40, 0.2);
  border: 0px solid #dbdbdb;
  background-color: #eeeff0;
  color: black;
}

input.search-button {
  position: relative;
  padding: 6px 15px;
  left: -8px;
  border: 2px solid #207cca;
  background-color: #207cca;
  color: white;
}

input.search-button:hover {
  background-color: #fafafa;
  color: #207cca;
}
