.main-header {
  height: 100vh;

  background-image: url(/assets/img/washington-monument.jpg);
  background-position: center center;
  background-size: cover;
}

.results-header {
  height: 7vh;
  /* background-image: url(/assets/img/washington-monument.jpg); */

  background-position: center center;
  background-size: cover;
  background-color: red;
}

.header-text {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  color: white;
  align-content: center;
  text-align: center;
}

.results-header-text {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  color: white;
  text-align: center;
  padding-bottom: 20px;
}

.header-title {
  margin-top: 0;

  font-size: 5em;
}

.header-subtitle {
  font-size: 3.4em;
}

.container {
  max-width: 60em;
}

section {
  padding: 100px 0;

  color: #fff;
}

.section-title {
  margin-top: 0;
  padding-bottom: 50px;

  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.results-section-title {
  margin-top: 0;
  padding-bottom: 10px;

  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.results-section-title-final {
  margin-top: 0;
  padding-bottom: 20px;

  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.section-content {
  font-size: 1.4em;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

.section-content-final {
  font-size: 1.4em;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: white;
  text-align: center;
}

a.github-link {
  color: #EDEDED;
}

#about-section {
  min-height: 400px;
  background-color: #207cca;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headshot {
  width: 100%;
  border: 5px solid #fff;
}

@media (max-width: 480px) {
  .about-wrapper {
    display: block;
  }

  .about-wrapper div:first-child {
    text-align: center;
  }

  .headshot {
    width: 50%;
    margin-bottom: 25px;
  }
}

@media (max-width: 480px) {
  .header-title {
    font-size: 2em;
  }

  .header-subtitle {
    font-size: 1em;
  }
}

.navbar {
  margin-bottom: 0;
  border: none;

  background-color: transparent;
}

.navbar a {
  color: white !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

footer {
  padding: 2em;

  text-align: center;
  font-size: 1.2em;
}

footer .fa-heart {
  color: #f77380;
}


/* search box stuff */
form {
  width: 500px;
  margin: 50px auto;
}

.search-container {
  padding-top: 2em;
  text-align: center;
  font-size: 1em;
}

input.search-box {
  padding: 8px 15px;
  background: rgba(50, 50, 40, 0.2);
  border: 0px solid #dbdbdb;
  background-color: #eeeff0;
  color: black;
}

input.search-button {
  position: relative;
  padding: 6px 15px;
  left: -8px;
  border: 2px solid #207cca;
  background-color: #207cca;
  color: white;
}

input.search-button:hover {
  background-color: #fafafa;
  color: #207cca;
}

#results-section {
  min-height: 400px;
  background-color: #207cca;
}

.results-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .results-wrapper {
    display: block;
  }

  .results-wrapper div:first-child {
    text-align: center;
  }

}

input.search-button-results {
  position: relative;
  padding: 6px 15px;
  left: -8px;
  border: 2px solid #207cca;
  background-color: #207cca;
  color: white;
}

input.search-button-results:hover {
  background-color: #fafafa;
  color: #207cca;
}

.left-side {
  text-align: left;

}

.right-side {
  text-align: right;
}

a.white-link {
  color: white;
  text-decoration: underline;

}
