<html>
<head>
<title>RESULTS</title>
</head>
<body>



YOU HAVE JUST SEARCHED FOR: "<%= searchquery %>"
<% for (var i=0; i < results.length; i++) { %>
<li> <%= results[i] %></li>
<% } %>

<div style="float:left; width: 80%">
  <p>
    BANTER
  </p>
</div>
<div style="float:right; width: 80%">
  <p>
    MORE BANTER
  </p>
</div>








</body>





</html>
