<html>
<head>
<title>RESULTS</title>
</head>
<body>
YOU HAVE JUST SEARCHED FOR: "<%= searchquery %>"
<% for (var i=0; i < results.length; i++) { %>
<li> <%= results[i] %></li>
<% } %>
</body>
</html>
